html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    height: 100%;
    display: flex;
}

.HomePage {
    height: 100%;
    width: 100%;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 1; /* ensure it's behind overlay */
}

.overlay {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.Hometop{
    background-color: white;
    height: 10%;
    width: 100%;
    border-bottom: 4px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.htLeft{
    height: 100%;
    width: 20%;
    background-image: url("./assets/logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.htRight{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.htrHome,.htrAbout{
    height: 50%;
    width: 100px;
    color: purple;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.htrHome:hover,.htrAbout:hover,.htrsResearcher:hover,.htrsAdmin:hover{
    color: #006666 ;
}
.htrSelect{
    height: 50%;
    width: 170px;
    color: purple;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.Homebot {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Home{
    z-index: 3;
    color: purple;
    animation: aniForHome 1000ms linear forwards; /* 5s duration, linear, keeps final state */
}

@keyframes aniForHome {
    from{
        font-size: 40px;
    }to{
        font-size: 50px;
    }
}

.About {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.About h1 {
    font-size: 70px;
    font-weight: bold;
    color: #6a0dad; /* rich purple */
    margin-bottom: 20px;
}

.About p {
    font-size:40px;
    line-height: 1.6;
    font-weight: bolder;
    max-width: 800px;
    color:  #006666; /* dark gray for readability */
}

.Researcher{
    min-height: 100%;
    min-width: 100%;
    background-image: url("./assets/researcherbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}
.rBox{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.rbTop{
    height: 10%;
    width: 100%;
    color: purple;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 2px solid purple;
}
.rbBot{
    height: 90%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login_registerInput{
    color: purple;
}
.Admin{
    min-height: 100%;
    min-width: 100%;
    background-color: blue;
}
